#skills{
     height: 100vh;
     display:flex;
     justify-content: center;
     padding: 3rem;
     background: linear-gradient(to right,#f3f2f2, #fff ) ;
     .container{
          max-width: 1440px;
          margin: auto;
          .skills-header{
               background-color: #f2f7f2;
               text-align: center;
               width: fit-content;
               margin: auto;
               margin-bottom: 6rem;
               padding: 0.5rem 3rem;
               border-radius: 40px;
               h2{
                    font-size: 24px;
                    line-height: 24px;
                    margin: auto;
               }
          }
               .MuiGrid-spacing-xs-3 > .MuiGrid-item {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    .MuiPaper-elevation1 {
                         width:15rem;
                         transition: 1s;
                         &:hover{
                              transform: scale(1.01, 1.01);
                              box-shadow: 8px 8px 25px #d3d5d6;
                         }
                    }
                }
     }
}