#about{
     background-image: url('https://images.unsplash.com/photo-1584949091598-c31daaaa4aa9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-position: center;
     height: 100vh;
     display: flex;
     justify-content: center;
     .container{
          width: 1440px;
          margin: auto;
          padding: 3rem;
          img{
               max-width: 500px;
               border-radius: 5px;
               box-shadow: -1px -6px 16px rgb(80 66 66 / 65%);
               transition: 1000ms;
               &:hover{
                    transform: scale(1.1, 1.1);
               }
          }
          .header{
               h2{
                    color: white;
                    font-size: 24px;
                    line-height: 24px;
               }
          }
          .about-header-description{
               display: flex;
               flex-direction: column;
               justify-content: center;
               padding-left: 3rem;
               h5{
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    color: rgb(255, 255, 255);
               }
          }
      }
}
