.w-100{
     object-fit: cover;
}
.carousel{
     position: relative;
}
.carousel-caption{
     position: absolute;
     top: 40vh;
}
.carousel-item.active{
     display: flex !important;
     justify-content: center;
     // max-height: 30rem;
     transition: 5000ms ;
     transition-property: opacity;
     img{
          height: 100vh;
     }
     .Typewriter{
          font-size: 3rem;
          color: white;
          background-color: transparent;
     }
}
.carousel-item{
     display: flex;
     justify-content: center;
     // max-height: 30rem;
     transition: 500ms ;
     img{
          height: 100vh;
          object-fit: cover;
     }
}