.w-100{
     object-fit: cover;
}
.carousel-item.active{
     display: flex !important;
     justify-content: center;
     // max-height: 30rem;
     img{
          max-height: 50rem;
     }
}
.carousel-item{
     display: flex;
     justify-content: center;
     // max-height: 30rem;
     img{
          max-height: 50rem;
     }
}