#footer-section{
     padding: 10rem;
     background-image: linear-gradient(178.74deg, rgba(14, 109, 172, 0) -148.3%, #01040B 102.55%);;
     .container{
          color: white;
          max-width: 1440px;
          margin: auto;
          h3{
               text-align: center;
               
          }
          p{
               text-align: center;
          }
     }
}